<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%# gravatar_forで引数のUserモデルオブジェクトを元にimgタグを返す %>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%# Usersコントローラのコンテキストにおいて、
    @usersインスタンス変数が存在していることを前提としている場合は、
    will_paginateメソッドに引数は不要だが、
    今回の場合はUsersコントローラのコンテキストから
    マイクロポストをページネーションしたいため（つまりコンテキストが異なるため）
    明示的に@microposts変数をwill_paginateに渡す必要があります。 %>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>